{{extend 'layout.html'}}

<h3>Using SeqConfig</h3>

<h4>Create New Runs</h4>
Please download a template, fill up details and upload.
<h4>Edit Run</h4>
Click on button 'Show Lanes'. Add, edit and delete entries as needed.
<h4>Delete Run</h4>
Click on button 'Delete Run' to delete.
<h4>Create Readme</h4>
Clicking on button 'Create Readme' validates entries for a Run and uploads a Readme file to server with status 'Waiting for Approval'
Once this run is approved by an Admin, it is copied to server to start preprocessing and a mail is sent to Admins.

All entries in a table can be exported as csv format files
All previous runs are saved in the database.

For bugs, suggestions and comments, please mail pmakella@uchicago.edu
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h10>Seq Config-v1.0-January 2013</h10><br>
<h10> Developed by Padma Akella, IGSB, University of Chicago </h10>
